<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a Postdoctoral Scholar in the Department of Medicine at UC San Diego with Dr. Cynthia Hsu. </font></p>
                <p><font size="4px"> I have PhD in Genetics, Genomics, and Bioinformatics from <a href="https://ggb.ucr.edu//">UC Riverside</a>. </font></p>
                <p><font size="4px"> My pronouns are they/them/theirs.</font></p>
                <p><font size="4px"> My postdoctoral work will focus on the gut microbiome and its connection to liver disease and alcohol use disorder.</font></p>
                <p><font size="4px"> As a genderfluid scientist, I deeply value equity and justice in STEM. For some more personal information about me and other queer & genderqueer scientists, please feel free to see my profile & others on <a href="https://500queerscientists.com">500 Queer Scientists</a>.</font></p>
             <br/>
        </div>
    </div>
</section>






