<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a PhD Student in the Genetics, Genomics, and Bioinformatics at <a href="https://ggb.ucr.edu//">UCR</a>. </font></p>
                <p><font size="4px"> I earned my MSc. in Biology from California State University Long Beach in 2019. As a member of The Bioinformatics Lab at CSULB, I used shotgun metagenomic sequencing and bioinformatic tools to examine the gut microbial community from cartilaginous fish. </font></p>
                <p><font size="4px"> I am currently a member of Dr. Emma Aronson's Soil Microbiome Lab at UCR, focusing on the characterization of aeolian (i.e. wind-driven) microbiomes.</font></p>
                
             <br/>
        </div>
    </div>
</section>






